body {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
    color: var(--black);
}

.logo {
    height: 40px;
}

::selection {
    background: color-mix(in srgb, var(--orange-secondary) 35%, transparent) ; /* color de fondo al seleccionar */

}