:root {
    --black: #282828;
    --true-white: #FFFFFF;
    --white: #F8F8F8;
    --orange: #E95E23;
}

/* css variable example:

.ejemplo{
    background-color: var(--true-white);
    color: var(--black)
}

*/