.sections-container {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 12px 0;
    width: 100%;
}

.section-card {
    padding: 1px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 45px;
    background-color: var(--gray-dark);
    border: 1px solid var(--gray-dark);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.7;

   
}

.section-card:hover {
    transition: 150ms;
    background-color: var(--gray-dark-secondary);
    transition: 150ms;

    span {
        transition: 150ms;
        color: var(--black);
    }
}

.section-title {
    font-weight: 600;
    text-align: center;
    color: var(--black-secondary);
}


.sections-loading {
    margin: 8px 0;
    color: var(--gray-dark-secondary);
}