.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.home-container-top {
  display: flex;
  width: 100%;
  height: 750px;
  margin-bottom: 10px;
  flex-direction: column;
}

#home-container-top-text {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
}

#home-container-top-buttons {
  align-items: center;
  gap: 40px;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 40%;
}

.home-container-search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  flex-direction: column;
  height: 200px;
}
.home-container-item-section {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  display: flex;
  gap: 70px;
  flex-direction: row;
  margin-bottom: 100px;
}
.search-bar {
  background-color: var(--white);
  border: 1px solid #797979;
  height: 60px;
  width: 700px;
  border-radius: 100px;
}

.button-top {
  background-color: var(--orange);
  text-align: center;
  align-content: center;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  height: 60px;
  width: 300px;
  border-radius: 100px;
}

#top-h1-text {
  margin-top: 100px;
  width: 70%;
  font-size: 100px;
  margin-left: 100px;
}

#top-p-text {
  margin-top: 30px;
  font-size: 30px;
  margin-left: 100px;
  font-weight: 200;
  width: 70%;
}

.search-bar {
    background-color: var(--white);
    padding-left: 20px;
    width: 60%;
}

.filter-button {
    text-align: center;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 100px;
}
